<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<title>gITproJect | Services</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link th:href="@{/img/git.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,700|Roboto:300,400,700&display=swap"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/icofont/icofont.min.css}" rel="stylesheet">
<link th:href="@{/vendor/line-awesome/css/line-awesome.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
<link th:href="@{/vendor/owlcarousel/assets/owl.carousel.min.css}"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body onload="document.refresh();">

	<div class="site-wrap">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icofont-close js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>
		<div th:include="./include/header.html"></div>
		<main id="main">
			<div class="hero-section">
				<div class="wave">

					<svg width="100%" height="355px" viewBox="0 0 1920 355"
						version="1.1" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none"
							fill-rule="evenodd">
              <g id="Apple-TV"
							transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path
							d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
							id="Path"></path>
              </g>
            </g>
          </svg>

				</div>
				<div class="container">
					<div class="site-section">
						<div class="row">
							<div class="col-6">
								<div class="accordion" id="accordionExample">
									<div class="card" th:each="proj : ${projList}">
										<div class="card-header" th:id="heading+${proj.id}">
											<h4 class="mb-0">
												<button onclick="showHideDiv(id)" class="btn btn-light"
													type="button" data-toggle="collapse"
													th:data-target="${'#collapse'+proj.id}"
													aria-expanded="true" th:aria-controls="collapse+${proj.id}"
													th:text="${proj.title}"></button>
												<button th:id="close+${proj.id}" onclick="showHideDiv(id)"
													style="display: none;" class="close" aria-label="Close"
													type="button" data-toggle="collapse"
													th:data-target="${'#collapse'+proj.id}"
													aria-expanded="true" th:aria-controls="collapse+${proj.id}">
													<span aria-hidden="true">&times;</span>
												</button>
											</h4>
										</div>
										<div th:id="collapse+${proj.id}" class="collapse"
											th:aria-labelledby="heading+${proj.id}"
											data-parent="#accordionExample">
											<div class="card-body" th:text="${proj.proj_desc}"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6" data-aos="fade-left">
								<div th:each="proj : ${projList}" class="collapse"
									th:id="collapse+${proj.id}"
									th:aria-labelledby="heading+${proj.id}"
									data-parent="#accordionExample">
									<div class="card card-body">
										<img src="img/busticket.png" alt="Image" class="img-fluid">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

			<!-- .site-section -->



		</main>

	</div>
	<!-- .site-wrap -->

	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/easing/easing.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	<script th:src="@{/vendor/sticky/sticky.js}"></script>
	<script th:src="@{/vendor/aos/aos.js}"></script>
	<script th:src="@{/vendor/owlcarousel/owl.carousel.min.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript">
		function showHideDiv(ele) {
			var srcElement = document.getElementById(ele);
			if (srcElement != null) {
				if (srcElement.style.display == "block") {
					srcElement.style.display = 'none';
				} else {
					srcElement.style.display = 'block';
				}
				return false;
			}
		}
	</script>
</body>

</html>

